<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
   <div align="center">
        <h2>Add a New Book</h2>
        <form method="post" action="/adduser">
            <table border="1">
                <tr>
                    <td><strong>Name :</strong></td>
                    <td>
                        <input type="text" name="name" placeholder="Enter Book Name" required>
                    </td>
                </tr>
                <tr>
                    <td><strong>Description :</strong></td>
                    <td>
                        <input type="text" name="description" placeholder="Enter Book Description" required>
                    </td>
                </tr>
                <tr>
                    <td><strong>Price :</strong></td>
                    <td>
                        <input type="number" name="price" placeholder="Enter Book Price" required>
                    </td>
                </tr>
                <tr>
                    <td><strong>Author:</strong></td>
                    <td>
                        <input type="text" name="author" placeholder="Enter Author Name" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        <a href="/viewuser">View Users</a>
    </div>
</body>
</html>