<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h2>View User</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Srno</td>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <% record.map((val, i)=>{ %>
                    <tr>
                        <td><%= ++i%></td>
                        <td>
                            <%= val.name %>
                          </td>
                        <td>
                            <%= val.phone %>
                        </td>
                        <td>
                            <a href="/deleteuser?deleteId=<%= val.id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/add">Add</a>
    </div>
</body>
</html>